<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Honest_Food_Company_Test_Suite">
	<listeners>
		<listener class-name="com.test.listeners.TestListener" />
		<listener class-name="com.test.listeners.AnnotationTransformer" />
	</listeners>

	<test name="TestAssignment">
		<classes>
			<class name="com.test.testcases.MamacitaCartTest" />
		</classes>
	</test>
</suite>